$title-color: $white-ter;

$navbar-background-color: $black;
$navbar-item-color: $white-ter;
$navbar-item-hover-background-color: $primary;
$navbar-item-hover-color: $black;

$button-border-color: $black;

$label-color: $white-ter;

$switch-background-active: $primary;

$modal-background-background-color: rgba($black, 0.5)
